.favorites_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    font-weight: 600;
}

/* =============== MEDIA QUERIES =============== */
@media screen and (max-width: 992px) {
    .favorites_text {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .favorites_text {
        font-size: 1.2rem;
        padding: 0.4rem 0;
    }
}

@media screen and (max-width: 576px) {
    .favorites_text {
        font-size: 1.1rem;
        padding: 0.2rem 0;
    }

}

@media screen and (max-width: 400px) {
    .favorites_text {
        font-size: 1rem;
        padding: 0rem;
    }
}