@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* =============== VARIABLE CSS =============== */
:root {
  /* =============== COLOR =============== */
  --color-primary: #359D9E;
  --color-secondary1: #55C595;
  --color-secondary2: #7CE495; 
  --color-secondary3: #CFF4D2;
  --color-blue: #215273;
  --color-gray1: #2F3737;
  --color-gray2: #556F70;
  --color-gray3: #AAB4B0;

  --color-secondary1-opacity: rgba(85, 197, 149, 0.25);
  --color-secondary2-opacity: rgba(207, 244, 210, 0.25);
}

body {
  margin: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Parisienne';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-gray1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
    monospace;
}

p {
  margin: 0;
}
